<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--在配置选项中加入log4net的引用-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender  name="LogFile" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="./logs/log.txt" />
			<!--定义用文件来保存日志，生成的文件log.txt放在logs目录中，logs文件夹和应用程序生成的bin文件夹在同一目录下。-->
			<param name="AppendToFile" value="false" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<maxSizeRollBackups value="15" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<!--定义输出风格-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
				<param name="Header" value="  ----------------------header--------------------------&#13;&#10;" />
				<param name="Footer" value="  ----------------------footer--------------------------&#13;&#10;" />
			</layout>
			<!-- 拒绝特定名称的 Logger 的日志事件 -->
			<filter type="log4net.Filter.PropertyFilter">
				<key value="LoggerName" />
				<stringToMatch value="DefaultUI" />
				<acceptOnMatch value="false" />
			</filter>
		</appender>
		<root>
			<!--定义日志输出的方式和等级-->
			<level value="ALL" />
			<appender-ref ref="LogFile" />
			<!--选择了文件输出，注意粗体部分对应的名称-->
		</root>
	</log4net>
</configuration>